div {
line-height: 0px;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 231);
    border: solid 1px black;
    border-radius: 3px;
    padding: 20px;
    margin: 10px;
}

.picture {
    background-color: rgb(206, 206, 54);
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.namecontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
    margin-right: 5px;
    font-size: larger;
}

.name {
    width: auto;
    font-size: larger;
}

.address {
}